#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: beige;
  color: rgb(72, 61, 0);
}


table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

div {
  padding: 5px;
}